.page_padding {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-color: transparent;
}

.doc_video{
    width: 50%;
    padding-bottom: 2%;
}

.doc_title{
    color: var(--black-color);
    font-family: Gopher;
    font-size: 150%;
    padding-bottom: 4%;
    padding-left: 2%;
}

.doc_info{
    color: var(--black-color);
    font-family: Space Mono;
    font-size: 100%;
    padding-bottom: 3%;
    padding-left: 2%;
}