.page_padding {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-color: transparent;
}

.doc_video{
    width: 50%;
    padding-bottom: 2%;
}

.doc_title{
    color: var(--black-color);
    font-family: Gopher;
    padding-bottom: 4%;
    padding-left: 2%;
}

.doc_info{
    color: var(--black-color);
    font-family: Space Mono;
    padding-bottom: 3%;
    padding-left: 2%;
}

@media screen and (min-width: 1200px) {
    .doc_title{
        font-size: 2vw;
    }
    .doc_info{
        font-size: 1vw;
    }
}

@media screen and (max-width: 1199px) {
    .doc_title{
        font-size: 2.25vw;
    }
    .doc_info{
        font-size: 1.25vw;
    }
}

@media screen and (max-width: 849px) {
    .doc_title{
        font-size: 2.5vw;
    }
    .doc_info{
        font-size: 1.5vw;
    }
}