.big_slide{
    width: 100vw;
    height: 80vh;
    cursor: pointer;
}

.slide_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide_name{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 10vh;
    top: 70vh;
}

.slide_name_text{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 1.5%;
    font-family: Gopher;
    font-size: 3vw;
}

.pop{
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
}

.home_cat_pad{
    padding: 3vw;
}

.home_cat_container{
    display: flex;
    padding-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.home_videos_thumb{
    width: 21.3vw;
    height: 20vh;
    object-fit: cover;
    cursor: pointer;
    border-radius: 0.4vw;
}
.home_videos_thumb_pad{
    width: 21.3vw;
    height: 20vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.home_cat_name{
    padding-left: 1vw;
    font-family: Gopher;
    font-size: 1.6vw;
}

.return_to_top{
    text-align: center;
    align-items: center;
    padding-bottom: 2vh;
    font-family: Space Mono;
    cursor: pointer;
}

.return_to_top:hover{
    text-decoration: underline;

}