.video_big{
    width: 100vw;
    height: 80vh;
}

.video_small{
    width: 36vw;
    height: 20.25vw;

}

.video_smaller{
    width: 32vw;
    height: 18vw;
}

.test{
    width: 100vw;
    height: 100vh;
}