.cine_video{
    padding-bottom: 2%;
}

.cine_title{
    font-family: Gopher;
    font-size: 150%;
    color: white;
    padding-bottom: 3%;
    padding-left: 2%;
}

.cine_info{
    font-family: Space Mono;
    font-size: 100%;
    padding-bottom: 2%;
    padding-left: 2%;
}
