.cine_video{
    padding-bottom: 2%;
}

.cine_title{
    font-family: Gopher;
    color: white;
    padding-bottom: 3%;
    padding-left: 2%;
}

.cine_info{
    font-family: Space Mono;
    padding-bottom: 2%;
    padding-left: 2%;
}

@media screen and (min-width: 1200px) {
    .cine_title{
        font-size: 2vw;
    }
    .cine_info{
        font-size: 1vw;
    }
}

@media screen and (max-width: 1199px) {
    .cine_title{
        font-size: 2.25vw;
    }
    .cine_info{
        font-size: 1.25vw;
    }
}

@media screen and (max-width: 849px) {
    .cine_title{
        font-size: 2.5vw;
    }
    .cine_info{
        font-size: 1.5vw;
    }
}
