.page_padding{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.side-bar_setup:after{
    content: "";
    display: table;
    clear: both;
}

.side-bar{
    width: 15%;
    float: left;
}

.rest{
    width: 85%;
    float: left;
}

.videos_setup:after{
    content: "";
    display: table;
    clear: both;
}

.video_table{
    width: 50%;
    float: left;
}

.video_block{
    padding-bottom: 4%;
}

.video_title{
    font-family: Gopher;
    font-size: x-large;
}

.video_info{
    font-family: Space Mono;
    font-size: medium;
    color: var(--black-color);
}   

.nav_buttons{
    font-family: Gopher;
    color: white;
    text-decoration: none;
    font-size: larger;
}
.nav_buttons:hover{
    text-decoration: underline;
}
.nav_all{
    font-family: Gopher;
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}
.nav_all:hover{
    text-decoration: underline;
}
.all-button_pad{
    padding-bottom: 10%;
}
.button_pad{
    padding-bottom: 5%;
}